.DS_Store
node_modules

# Rust
target/

# Tauri App
tauri-app/build
tauri-app/.svelte-kit
tauri-app/package
tauri-app/.env
tauri-app/.env.*
!tauri-app/.env.example
!tauri-app/.env.production
tauri-app/vite.config.js.timestamp-*
tauri-app/vite.config.ts.timestamp-*
tauri-app/src-tauri/target

# Raycast Extension
raycast-extension/node_modules
raycast-extension/build
