.DS_Store
node_modules

# Rust
target/
src-tauri/target/

# App build outputs
build/
.svelte-kit/
package/

# Env files
.env
.env.*
!.env.example
!.env.production

# Vite temp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
