@import "./shadcn.css";

/*
 * Base styles - defaults that can be overridden
 */
@layer base {
  html {
    @apply bg-surface text-on-surface;
  }

  body {
    @apply cursor-default;
  }

  input,
  textarea,
  [contenteditable] {
    @apply cursor-text;
  }

  button,
  a,
  [tabindex]:not([tabindex="-1"]) {
    @apply outline-none cursor-pointer;

    &:focus-visible {
      @apply outline-accent outline-2 -outline-offset-2 rounded-xl;
    }
  }

  input:not(.no-focus-outline),
  select:not(.no-focus-outline),
  textarea:not(.no-focus-outline) {
    @apply outline-none;

    &:focus-visible {
      @apply outline-accent outline-2 -outline-offset-2 rounded-xl;
    }
  }

  ::selection {
    @apply bg-transparent;
  }
}
